.button {
    all: unset;
    display: block;
    color: white;
    background-color: var(--twitter-blue);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.button--blue {
    background-color: var(--twitter-blue);
}

.button--blue:hover {
    background-color: var(--twitter-blue-darker);
}

.button--black {
    background-color: var(--twitter-black);
}

.button--disabled {
    background-color: var(--twitter-blue-dimmed);
    cursor: default;
}

.button--disabled:hover {
    background-color: var(--twitter-blue-dimmed);
}

.button--medium {
    padding: 8px 24px;
    font-weight: 600;
}

.button--large {
    padding: 12px;
    width: 10rem;
    font-weight: 700;
}