.follow-tile {
    display: flex;
    gap: 10px;
}

.follow-tile-suggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: auto;
}

.follow-tile-suggestion__name {
    font-weight: bold;
}

.follow-tile-suggestion__handle {
    font-weight: lighter;
    color: gray;
}
