.sidebar__logo svg {
    color: var(--twitter-blue);
    padding: 12px;
    padding-bottom: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
}

.sidebar__logo:hover {
    background-color: var(--twitter-light);
}
