.sidebar-item {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
}

.sidebar-item svg {
    font-size: 1.75rem;
    /* Align icons with font*/
    position: relative;
    bottom: 2px;
} 

.sidebar-item:hover {
    background-color: lightgray;
}

.sidebar-item--active {
    color: var(--twitter-blue);
    font-weight: 700;
}

.sidebar-item__label {
    margin-left: 20px;
    font-size: 1.3rem;
}

@media (max-width: 1150px) {
    .sidebar-item__label {
        display: none;
    }
}