.sidebar {
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 0 10px;
    min-width: 200px;
    align-items: flex-start;
}

@media (max-width: 1150px) {
    .sidebar {
        min-width: min-content;
    }
}