.tweetbox-wrapper {
    padding: 10px;
    border: 1px solid var(--twitter-lightgrey);
    margin: 0 0 10px 0;
}

.tweetbox-input {
    display: flex;
}

.tweetbox-input {
    padding-bottom: 10px;
}

.tweetbox-input input {
    font-size: 20px;
    flex: 1;
    margin-left: 10px;
    border: none;
}

/* .tweetbox-content-footer {
    margin-top: 10px;
} */

.tweetbox-tweet-button {
    cursor: pointer;
    display: flex;
    justify-content: right;
    margin-right: 10px;
}