.tweetbox {
    padding: 10px;
    border: 1px solid var(--twitter-lightgrey);
    margin: 0 0 10px 0;
}

.tweetbox-entry {
    display: flex;
    padding-bottom: 10px;
}

.tweetbox-entry__input {
    font-size: 20px;
    flex: 1;
    margin-left: 10px;
    border: none;
}

.tweetbox__tweet-button {
    display: flex;
    justify-content: right;
    margin-right: 10px;
}